.wt-a-wf-scale-block .wt-a-wf-item[wt-state='incomplete'] .wt-a-wf-item-point, .wta-tree-leaf-wf-list .wt-a-wf-item[wt-state='incomplete'] .wt-a-wf-item-point
{
    border-color: #9e35a1;
    background-color: #9e35a1;
}

.wt-a-wf-scale-block .wt-a-wf-item[wt-state='incomplete'] .wt-a-wf-item-name, .wta-tree-leaf-wf-list .wt-a-wf-scale-block .wt-a-wf-item[wt-state='incomplete'] .wt-a-wf-item-name
{
    color: #9e35a1;
}

.wt-a-wf-scale-block .wt-a-wf-item[wt-state='completed'] .wt-a-wf-item-point, .wta-tree-leaf-wf-list .wt-a-wf-scale-block .wt-a-wf-item[wt-state='completed'] .wt-a-wf-item-point
{
    border-color: #9e35a1;
}

.wt-a-wf-scale-block .wt-a-wf-item[wt-state='incomplete']:not(:first-of-type) .wt-a-wf-item-connector-prev, .wta-tree-leaf-wf-list .wt-a-wf-scale-block .wt-a-wf-item[wt-state='incomplete']:not(:first-of-type) .wt-a-wf-item-connector-prev
{
    background-color: #9e35a1;
}

.wt-a-wf-scale-block .wt-a-wf-item[wt-state='completed'] .wt-a-wf-item-connector, .wta-tree-leaf-wf-list .wt-a-wf-scale-block .wt-a-wf-item[wt-state='completed'] .wt-a-wf-item-connector
{
    background-color: #9e35a1;
}

.wt-a-user-info-container .wt-a-user-info-btn:hover
{
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M1088%201248v192q0%2040-28%2068t-68%2028h-192q-40%200-68-28t-28-68v-192q0-40%2028-68t68-28h192q40%200%2068%2028t28%2068zm0-512v192q0%2040-28%2068t-68%2028h-192q-40%200-68-28t-28-68v-192q0-40%2028-68t68-28h192q40%200%2068%2028t28%2068zm0-512v192q0%2040-28%2068t-68%2028h-192q-40%200-68-28t-28-68v-192q0-40%2028-68t68-28h192q40%200%2068%2028t28%2068z%22%20%2F%3E%3C%2Fsvg%3E);
}


.wt-a-sheet-tab-list .wt-sheet-tab-btn[wt-status='i']
{
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2030%2030%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M15%2C0.1C6.8%2C0.1%2C0.1%2C6.8%2C0.1%2C15c0%2C8.2%2C6.7%2C14.9%2C14.9%2C14.9%20c8.2%2C0%2C14.9-6.7%2C14.9-14.9C29.9%2C6.8%2C23.2%2C0.1%2C15%2C0.1z%20M16%2C26.9c0-12.3%2C0-11.1%2C0-23.8c4.9%2C0%2C9.9%2C5.3%2C9.9%2C11.9%20C25.9%2C21.6%2C20%2C26.9%2C16%2C26.9z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-a-sheet-tab-list .wt-sheet-tab-btn[wt-status='c']
{
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%239e35a1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%2C0%20C4.5%2C0%200%2C4.5%200%2C10%20C0%2C15.5%204.5%2C20%2010%2C20%20C15.5%2C20%2020%2C15.5%2020%2C10%20C20%2C4.5%2015.5%2C0%2010%2C0%20L10%2C0%20Z%20M8%2C15%20L3%2C10%20L4.4%2C8.6%20L8%2C12.2%20L15.6%2C4.6%20L17%2C6%20L8%2C15%20L8%2C15%20Z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-a-sheet-tab-list .wt-sheet-tab-btn[wt-state='selected']
{
    border-color: #9e35a1;
    color: #9e35a1;
}

.wt-appr-page .wt-a-flow-btn:hover
{
    color: #9e35a1;
    border-color: #9e35a1;
background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20transform%3D%22translate%280%2C-2%29%22%20d%3D%22M0%2C4%20L6.75%2C4%20L4.25%2C6%20L2%2C6%20L2%2C13%20L12%2C13%20L12%2C11%20L14%2C9.4%20L14%2C15%20L0%2C15%20Z%20M16%2C6%20L11%2C10%20L11%2C8.008289%20C7.66738867%2C7.888001%205.66106768%2C9.37291%203.96685791%2C11.023071%20C3.96685791%2C7.100747%207.46045937%2C4.011342%2011%2C3.976794%20L11%2C2%20Z%22%20%2F%3E%3C%2Fsvg%3E);
}

.wt-appr-page .wt-a-filters-btn:not([wt-state='selected']):hover
{
border-color: #9e35a1;
    color: #9e35a1;
}

.wt-appr-page .wt-a-filters-btn[wt-state='selected']
{
background-color: #9e35a1;
    border-color: #9e35a1;
    color: #fff;
}

.wt-appr-objective-item .wt-a-objective-toggle-icon:hover
{
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2024%2024%22%20style%3D%22fill%3Anone%3Bstroke%3A%239e35a1%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-width%3A2%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%2F%3E%3C%2Fsvg%3E);
}

.wt-appr-objective-header-btn[wta-btn='edit']:hover
{
background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2019%2019%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M8.44%2C7.25C8.348%2C7.342%2C8.277%2C7.447%2C8.215%2C7.557L8.174%2C7.516L8.149%2C7.69%20C8.049%2C7.925%2C8.014%2C8.183%2C8.042%2C8.442l-0.399%2C2.796l2.797-0.399c0.259%2C0.028%2C0.517-0.007%2C0.752-0.107l0.174-0.024l-0.041-0.041%20c0.109-0.062%2C0.215-0.133%2C0.307-0.225l5.053-5.053l-3.191-3.191L8.44%2C7.25z%22%2F%3E%3Cpath%20d%3D%22M18.183%2C1.568l-0.87-0.87c-0.641-0.641-1.637-0.684-2.225-0.097l-0.797%2C0.797l3.191%2C3.191l0.797-0.798%20C18.867%2C3.205%2C18.824%2C2.209%2C18.183%2C1.568z%22%2F%3E%3Cpath%20d%3D%22M15%2C9.696V17H2V2h8.953l1.523-1.42c0.162-0.161%2C0.353-0.221%2C0.555-0.293%20c0.043-0.119%2C0.104-0.18%2C0.176-0.287H0v19h17V7.928L15%2C9.696z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-appr-objective-header-btn[wta-btn='delete']:hover
{
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2012%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%22%3E%3Cpath%20d%3D%22M4%200V2H0V4H12V2H8V0H4ZM1%2013V6H3V12H9V6H11V13V14H10H2H1V13ZM5%206V10H7V6H5Z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-a-objective-body-block .wt-a-objective-block-2-row .wt-a-objective-block-2-param-2
{
    background-color: #9e35a1;
}


.wt-dialog.ui-dialog.ui-widget .wt-dialog-btn:hover
{
    border-color: #9e35a1;
    color: #9e35a1;
}

.wt-dialog.ui-dialog.ui-widget .wt-dialog-ok
{
    background-color: #9e35a1;
    border-color: #9e35a1;
    color: #fff;
}

.wt-dialog.ui-dialog.ui-widget .wt-dialog-ok:hover
{
    background-color: #bd67a8;
    border-color: #bd67a8;
    color: #fff;
}

.wt-appr-obj-form-btns .wt-appr-obj-form-btn:hover
{
    border-color: #9e35a1;
    color: #9e35a1;
}


DIV[wta-role='bottom-btn-container'] .wt-appr-objective-btn:hover, .wt-appr-bottom-btn-container .wt-appr-objective-btn:hover
{
    border-color: #9e35a1;
    color: #9e35a1;
}

.wt-side-menu-main .wt-main-btn-menu:not([wt-state='max']):hover {
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20284.936%20284.936%22%20style%3D%22fill%3A%239e35a1%3B%22%3E%3Cpath%20d%3D%22M277.515%2C135.9L144.464%2C2.857C142.565%2C0.955%2C140.375%2C0%2C137.9%2C0c-2.472%2C0-4.659%2C0.955-6.562%2C2.857l-14.277%2C14.275%20c-1.903%2C1.903-2.853%2C4.089-2.853%2C6.567c0%2C2.478%2C0.95%2C4.664%2C2.853%2C6.567l112.207%2C112.204L117.062%2C254.677%20c-1.903%2C1.903-2.853%2C4.093-2.853%2C6.564c0%2C2.477%2C0.95%2C4.667%2C2.853%2C6.57l14.277%2C14.271c1.902%2C1.905%2C4.089%2C2.854%2C6.562%2C2.854%20c2.478%2C0%2C4.665-0.951%2C6.563-2.854l133.051-133.044c1.902-1.902%2C2.851-4.093%2C2.851-6.567S279.417%2C137.807%2C277.515%2C135.9z%22%2F%3E%3Cpath%20d%3D%22M170.732%2C142.471c0-2.474-0.947-4.665-2.857-6.571L34.833%2C2.857C32.931%2C0.955%2C30.741%2C0%2C28.267%2C0s-4.665%2C0.955-6.567%2C2.857%20L7.426%2C17.133C5.52%2C19.036%2C4.57%2C21.222%2C4.57%2C23.7c0%2C2.478%2C0.95%2C4.664%2C2.856%2C6.567L119.63%2C142.471L7.426%2C254.677%20c-1.906%2C1.903-2.856%2C4.093-2.856%2C6.564c0%2C2.477%2C0.95%2C4.667%2C2.856%2C6.57l14.273%2C14.271c1.903%2C1.905%2C4.093%2C2.854%2C6.567%2C2.854%20s4.664-0.951%2C6.567-2.854l133.042-133.044C169.785%2C147.136%2C170.732%2C144.945%2C170.732%2C142.471z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-side-menu-main .wt-btn-person-tree[wt-state='selected'], .wt-side-menu-main .wt-btn-person-tree:not([wt-state='selected']):hover
{
color: #9e35a1;
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M6%2C21a1%2C1%2C0%2C0%2C0%2C1-1V17h8v3a1%2C1%2C0%2C0%2C0%2C2%2C0V17h8v3a1%2C1%2C0%2C0%2C0%2C2%2C0V17a2%2C2%2C0%2C0%2C0-2-2H17V13a1%2C1%2C0%2C0%2C0-2%2C0v2H7a2%2C2%2C0%2C0%2C0-2%2C2v3A1%2C1%2C0%2C0%2C0%2C6%2C21Z%22%2F%3E%3Cpath%20d%3D%22M12%2C12a1%2C1%2C0%2C0%2C0%2C1-1c0-.28.88-.89%2C1.28-1l.11%2C0a2.3%2C2.3%2C0%2C0%2C0%2C1.1-.58%2C2.2%2C2.2%2C0%2C0%2C0%2C1%2C0%2C2.3%2C2.3%2C0%2C0%2C0%2C1.1.58l.07%2C0c.43.16%2C1.28.77%2C1.32%2C1.05a1%2C1%2C0%2C0%2C0%2C2%2C0c0-1.77-2.37-2.86-2.72-3h0A5%2C5%2C0%2C0%2C0%2C19%2C5a3.16%2C3.16%2C0%2C0%2C0-3-3%2C3.16%2C3.16%2C0%2C0%2C0-3%2C3%2C5%2C5%2C0%2C0%2C0%2C.74%2C3h0c-.35.1-2.72%2C1.19-2.72%2C3A1%2C1%2C0%2C0%2C0%2C12%2C12Zm4-8a1.17%2C1.17%2C0%2C0%2C1%2C1%2C1%2C2.69%2C2.69%2C0%2C0%2C1-.71%2C2.29.41.41%2C0%2C0%2C1-.58%2C0A2.68%2C2.68%2C0%2C0%2C1%2C15%2C5%2C1.17%2C1.17%2C0%2C0%2C1%2C16%2C4Z%22%2F%3E%3Cpath%20d%3D%22M8.06%2C26.66A4.16%2C4.16%2C0%2C0%2C0%2C8.5%2C24.5%2C2.6%2C2.6%2C0%2C0%2C0%2C6%2C22a2.6%2C2.6%2C0%2C0%2C0-2.5%2C2.5%2C4.24%2C4.24%2C0%2C0%2C0%2C.43%2C2.16C3.3%2C27%2C2%2C27.76%2C2%2C29a1%2C1%2C0%2C0%2C0%2C1%2C1%2C1%2C1%2C0%2C0%2C0%2C1-1%2C2.11%2C2.11%2C0%2C0%2C1%2C.86-.64A2%2C2%2C0%2C0%2C0%2C5.69%2C28a1.63%2C1.63%2C0%2C0%2C0%2C.31%2C0%2C1.73%2C1.73%2C0%2C0%2C0%2C.32%2C0%2C2%2C2%2C0%2C0%2C0%2C.85.41%2C2.24%2C2.24%2C0%2C0%2C1%2C.83.62A1%2C1%2C0%2C0%2C0%2C10%2C29C10%2C27.76%2C8.7%2C27%2C8.06%2C26.66ZM6%2C24a.64.64%2C0%2C0%2C1%2C.5.5c0%2C.75%2C0%2C1.1-.46%2C1.54H6c-.44-.44-.46-.79-.46-1.54A.64.64%2C0%2C0%2C1%2C6%2C24Z%22%2F%3E%3Cpath%20d%3D%22M18.06%2C26.66a4.16%2C4.16%2C0%2C0%2C0%2C.44-2.16A2.6%2C2.6%2C0%2C0%2C0%2C16%2C22a2.6%2C2.6%2C0%2C0%2C0-2.5%2C2.5%2C4.24%2C4.24%2C0%2C0%2C0%2C.43%2C2.16C13.3%2C27%2C12%2C27.76%2C12%2C29a1%2C1%2C0%2C0%2C0%2C1%2C1%2C1%2C1%2C0%2C0%2C0%2C1-1%2C2.11%2C2.11%2C0%2C0%2C1%2C.86-.64%2C2%2C2%2C0%2C0%2C0%2C.84-.41%2C1.63%2C1.63%2C0%2C0%2C0%2C.31%2C0%2C1.73%2C1.73%2C0%2C0%2C0%2C.32%2C0%2C2%2C2%2C0%2C0%2C0%2C.85.41%2C2.24%2C2.24%2C0%2C0%2C1%2C.83.62A1%2C1%2C0%2C0%2C0%2C20%2C29C20%2C27.76%2C18.7%2C27%2C18.06%2C26.66ZM16%2C24a.64.64%2C0%2C0%2C1%2C.5.5c0%2C.75%2C0%2C1.1-.46%2C1.54H16c-.44-.44-.46-.79-.46-1.54A.64.64%2C0%2C0%2C1%2C16%2C24Z%22%2F%3E%3Cpath%20d%3D%22M28.06%2C26.66a4.16%2C4.16%2C0%2C0%2C0%2C.44-2.16%2C2.5%2C2.5%2C0%2C0%2C0-5%2C0%2C4.24%2C4.24%2C0%2C0%2C0%2C.43%2C2.16C23.3%2C27%2C22%2C27.76%2C22%2C29a1%2C1%2C0%2C0%2C0%2C1%2C1%2C1%2C1%2C0%2C0%2C0%2C1-1%2C2.11%2C2.11%2C0%2C0%2C1%2C.86-.64%2C2%2C2%2C0%2C0%2C0%2C.84-.41%2C1.63%2C1.63%2C0%2C0%2C0%2C.31%2C0%2C1.73%2C1.73%2C0%2C0%2C0%2C.32%2C0%2C2%2C2%2C0%2C0%2C0%2C.85.41%2C2.24%2C2.24%2C0%2C0%2C1%2C.83.62A1%2C1%2C0%2C0%2C0%2C30%2C29C30%2C27.76%2C28.7%2C27%2C28.06%2C26.66ZM26%2C24a.64.64%2C0%2C0%2C1%2C.5.5c0%2C.75%2C0%2C1.1-.46%2C1.54H26c-.44-.44-.46-.79-.46-1.54A.64.64%2C0%2C0%2C1%2C26%2C24Z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-side-menu-main .wt-btn-sheet[wt-state='selected'], .wt-side-menu-main .wt-btn-sheet:not([wt-state='selected']):hover
{
font-weight: bold;
    color: #9e35a1;
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M13%2C14H3c-0.5522461%2C0-1-0.4472656-1-1V3c0-0.5527344%2C0.4477539-1%2C1-1h10c0.5522461%2C0%2C1%2C0.4472656%2C1%2C1v10%20C14%2C13.5527344%2C13.5522461%2C14%2C13%2C14z%20M4%2C12h8V4H4V12z%22%2F%3E%3Cpath%20d%3D%22M29%2C9H19c-0.5522461%2C0-1-0.4472656-1-1s0.4477539-1%2C1-1h10c0.5522461%2C0%2C1%2C0.4472656%2C1%2C1S29.5522461%2C9%2C29%2C9z%22%2F%3E%3Cpath%20d%3D%22M29%2C26H19c-0.5522461%2C0-1-0.4472656-1-1s0.4477539-1%2C1-1h10c0.5522461%2C0%2C1%2C0.4472656%2C1%2C1S29.5522461%2C26%2C29%2C26z%22%2F%3E%3Cpath%20d%3D%22M4%2C30c-0.2558594%2C0-0.5117188-0.0976563-0.7070313-0.2929688c-0.390625-0.390625-0.390625-1.0234375%2C0-1.4140625l8-8%20c0.390625-0.390625%2C1.0234375-0.390625%2C1.4140625%2C0s0.390625%2C1.0234375%2C0%2C1.4140625l-8%2C8C4.5117188%2C29.9023438%2C4.2558594%2C30%2C4%2C30%20z%22%2F%3E%3Cpath%20d%3D%22M12%2C30c-0.2558594%2C0-0.5117188-0.0976563-0.7070313-0.2929688l-8-8c-0.390625-0.390625-0.390625-1.0234375%2C0-1.4140625%20s1.0234375-0.390625%2C1.4140625%2C0l8%2C8c0.390625%2C0.390625%2C0.390625%2C1.0234375%2C0%2C1.4140625%20C12.5117188%2C29.9023438%2C12.2558594%2C30%2C12%2C30z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-side-menu-main .wt-btn-obj-tree[wt-state='selected'], .wt-side-menu-main .wt-btn-obj-tree:not([wt-state='selected']):hover
{
font-weight: bold;
color: #9e35a1;
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M24%2C10h4a2%2C2%2C0%2C0%2C0%2C2-2V4a2%2C2%2C0%2C0%2C0-2-2H24a2%2C2%2C0%2C0%2C0-2%2C2V5H19a2%2C2%2C0%2C0%2C0-2%2C2v8H14V12a2%2C2%2C0%2C0%2C0-2-2H4a2%2C2%2C0%2C0%2C0-2%2C2v8a2%2C2%2C0%2C0%2C0%2C2%2C2h8a2%2C2%2C0%2C0%2C0%2C2-2V17h3v8a2%2C2%2C0%2C0%2C0%2C2%2C2h3v1a2%2C2%2C0%2C0%2C0%2C2%2C2h4a2%2C2%2C0%2C0%2C0%2C2-2V24a2%2C2%2C0%2C0%2C0-2-2H24a2%2C2%2C0%2C0%2C0-2%2C2v1H19V17h3v1a2%2C2%2C0%2C0%2C0%2C2%2C2h4a2%2C2%2C0%2C0%2C0%2C2-2V14a2%2C2%2C0%2C0%2C0-2-2H24a2%2C2%2C0%2C0%2C0-2%2C2v1H19V7h3V8A2%2C2%2C0%2C0%2C0%2C24%2C10ZM12%2C20H4V12h8Zm12%2C4h4v4H24Zm0-10h4v4H24ZM24%2C4h4V8H24Z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-side-menu-main .wt-btn-log[wt-state='selected'], .wt-side-menu-main .wt-btn-log:not([wt-state='selected']):hover
{
font-weight: bold;
color: #9e35a1;
    background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%239e35a1%22%3E%3Cpath%20d%3D%22M11%2C7.4V13h4.68V11H13V7.4Zm7.36-1.76a9%2C9%2C0%2C0%2C0-12.72%2C0L5%2C6.31l-2-2V10H8.66L6.38%2C7.72l.67-.67a7%2C7%2C0%2C1%2C1-2%2C6h-2A9%2C9%2C0%2C0%2C0%2C12%2C21%2C9%2C9%2C0%2C0%2C0%2C18.36%2C5.64Z%22%20%2F%3E%3C%2Fsvg%3E);
}

.wta-tree-leaf-wf-list .wt-a-wf-item[wt-status='c']:not([wt-current]) .wt-a-wf-item-point
{
    border-color: #9e35a1;
    background-color: #9e35a1;
}

.wta-tree-leaf-wf-list .wt-a-wf-item[wt-status='c']:not([wt-current]) .wt-a-wf-item-connector 
{
    background-color: #9e35a1;
}

.wta-tree-leaf-wf-list .wt-a-wf-item[wt-status='c'][wt-current] .wt-a-wf-item-point
{
background-image: url(data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%239e35a1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%2C0%20C4.5%2C0%200%2C4.5%200%2C10%20C0%2C15.5%204.5%2C20%2010%2C20%20C15.5%2C20%2020%2C15.5%2020%2C10%20C20%2C4.5%2015.5%2C0%2010%2C0%20L10%2C0%20Z%20M8%2C15%20L3%2C10%20L4.4%2C8.6%20L8%2C12.2%20L15.6%2C4.6%20L17%2C6%20L8%2C15%20L8%2C15%20Z%22%2F%3E%3C%2Fsvg%3E);
}

.wt-side-menu-main .wt-main-btn:not([wt-state='selected']):hover
{
    border-color: #9e35a1;
}