# Схема: wtv_form_test_report.xmd

| Поле | Тип | Заголовок | Индекс | Связь |
| :--- | :--- | :--- | :--- | :--- |
| id | attr |  |  |  |
| title | string |  |  |  |
| id | attr |  |  |  |
| type | string |  |  | common.item_types |
| text | string |  |  |  |
| m_dur | string |  |  |  |
| c_dur | string |  |  |  |
| m_att | string |  |  |  |
| c_att | string |  |  |  |
| m_poi | string |  |  |  |
| c_poi | string |  |  |  |
| id | attr |  |  |  |
| text | string |  |  |  |
| c_val | string |  |  |  |
| r_val | string |  |  |  |
| case | string |  |  |  |
| opt | string |  |  | common.sentence_option_types |
| prec | real |  |  |  |
| opt | string |  |  | common.grading_option_types |
| val | real |  |  |  |
